<div class="ui-col">
  <%- partial('partial/title') %>
  <div class="ui-col-space-big"></div>
  <%
  let list = site.categories.data.sort((a, b) => {
    return a.name < b.name ? -1: 1;
  });
  %>
  <% list.forEach((a) => { %>
  <div class="ui-card ui-padding-big ui-full-width ui-shadow">
    <div class="ui-center ui-padding">
      <p style="color: var(--title-col); font-size: 18px;"><%= a.name %></p>
    </div>
    <div class="ui-col-space"></div>
      <%
        let tmp = a.posts.data.sort((a, b) => { return b.date.unix() - a.date.unix(); });
        let data = tmp.slice(0, 5);
      %>
    <%- partial('/partial/post-list', {'list': data, 'index': false, 'simple_mode': true, 'top': -1, 'jump': false}) %>
    <a href="/<%= a.path %>" class="ui-card ui-shadow ui-padding-big ui-center" style="display: block;">MORE...</a>
  </div>
  <div class="ui-col-space-big"></div>
  <% }); %>
</div>