<div>
  <p style="font-size:40px;padding:30px;">Category: <%= page.category %></p>
</div>
<div class="articles">
  <% var list=page.posts.data.sort((a,b)=>{
    return a.name<b.name?-1:1
  }) %>
  <%- partial('/partial/post-list',{list:list, doindex: false, simplemode: true})%>
</div>