<div class="ui-col">
  <div class="ui-card ui-shadow" style="font-size: 40px; padding: 20px 80px;">
    <p style=" color: var(--title-col);">Category: <%- page.category %></p>
  </div>
  <div class="ui-col-space-big"></div>
  <%-
  partial('/partial/post-list', {
    'list': page.posts.data, 
    'index': false, 
    'simple_mode': true, 
    'top': -1,
    'jump': true
  });
%>
</div>