<div class="ui-max-width ui-card ui-shadow">
  <div>
    <%- partial('/partial/info') %>
  </div>
  <div class="ui-padding">
    <%- page.content %>
    <%- partial('/partial/comment') %>
  </div>
</div>