<div id="comment" style="width:max(350px,80%);margin:20px;"></div>
<% if(theme.twikoo&&theme.twikoo.enable){ %>
<script src="https://cdn.staticfile.org/twikoo/1.6.4/twikoo.all.min.js"></script>
<script>
  twikoo.init({
    envId: '<%= theme.twikoo.envId %>',
    el: '#comment'
  })
</script>
<% } %>
<% if(theme.waline&&theme.waline.enable){ %>
<script src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v2/dist/waline.css"
/>
<script>
  Waline.init({
    serverURL: '<%= theme.waline.serverURL %>',
    el: '#comment'
  })
</script>
<% } %>