<div class="ui-col">
  <p style="color: var(--footer-col); padding: 20px 30px;">
    Powered by <a href="https://hexo.io/zh-cn/">Hexo</a>,
    theme by <a href="https://github.com/ftt2333/hexo-theme-facter">Facter</a>
  </p>
</div>